
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>

    <!-- Partial Head -->
    @Html.Action("PartialHead", "Layout")
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <!-- Sidebar -->
        @Html.Action("PartialSideBar", "Layout")

        <!-- Sayfa İçeriği -->
        <div id="content" class="p-4 p-md-5">
            @RenderBody()
        </div>
    </div>

    <!-- JS Dosyaları -->
    @Html.Action("PartialScripts", "Layout")
</body>
</html>

