@model List<AcunMedyaPortfolioProject.Models.SocialMedia>

<ul class="intro-social">
    @foreach(var item in Model)
            {
                <li><a href="@item.Url">@item.Icon</a></li>
            }

</ul>
