@model AcunMedyaPortfolioProject.Models.Contact
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İletişim Ekle</h2>

<div class="container">
    <form method="post">
        <label>Telefon</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        <br />
        <label>Mail</label>
        @Html.TextBoxFor(x => x.MailAddress, new { @class = "form-control" })
        <br />
        <label>Adres</label>
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">İletişim Ekle</button>
    </form>
</div>